<ion-view view-title="Map" class="robo-compare">
  <ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleMenu();"></button>
</ion-nav-buttons>
<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-content padding="false">
      <ion-list>
        <ion-item ng-click="trigger(1)">
          Temperature
        </ion-item>
        <ion-item ng-click="trigger(2)">
          Humidity
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>
      <ion-content>
        <div id="map" data-tap-disabled="true"></div>
      </ion-content>
  </ion-side-menu-content>

</ion-side-menus>
</ion-view>
